.chat {
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color);
  .row {
    height: 100%;
    .col-3 {
      .left_side {
        padding: 5px 0px;
        border-right: 1px solid var(--border-color);
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: start;
        .top {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 12px 8px;
          .image_name {
            display: flex;
            cursor: pointer;
            .image_contain {
              height: 40px;
              width: 40px;
              border-radius: 50%;
              overflow: hidden;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            .name {
              display: flex;
              justify-content: center;
              align-items: center;
              h3 {
                padding-left: 10px;
                font-weight: 600;
                color: var(--text-color);
              }
            }
          }
          .icons {
            display: flex;
            position: relative;
            .theme_logout.show {
              transform: scale(1);
              transition: all 0.2s ease-in-out;
              z-index: 10;
            }
            .theme_logout {
              width: 200px;
              padding: 10px;
              border-radius: 8px;
              background-color: var(--bg-color);
              transform: scale(0);
              transition: all 0.2s ease-in-out;
              position: absolute;
              z-index: 10;
              color: var(--text-color);
              box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
              .on,
              .off {
                display: flex;
                justify-content: start;
                align-items: start;
                margin-top: 10px;
                gap: 0.5rem;
                label {
                  color: var(--text-color);
                  cursor: pointer;
                }
              }
              .logout {
                display: flex;
                align-items: center;
                margin-top: 10px;
                cursor: pointer;
              }
            }
            .icon {
              width: 33px;
              height: 33px;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: var(--icon-bg-color);
              margin-left: 8px;
              border-radius: 50%;
              color: var(--icon-color);
              cursor: pointer;
            }
          }
        }
        .friend_search {
          padding: 0px 8px;
          .search {
            display: flex;
            width: 100%;
            height: 40px;
            background-color: var(--search-bg);
            border-radius: 50px;
            margin: 20px 0px;
            button {
              padding: 12px;
              border-bottom-left-radius: 50px;
              border-top-left-radius: 50px;
              border: none;
              color: var(--text-color);
              font-size: 20px;
              background-color: transparent;
            }
            .form_control {
              width: 100%;
              padding-left: 0px;
              border-bottom-right-radius: 50px;
              border-top-right-radius: 50px;
              background-color: #fff0;
              color: var(--text-color);
              border: none;
            }
          }
        }
      }
    }
  }
}
