.message_show {
  height: 100%;
  padding: 10px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  .friend_connect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: var(--text-color);
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
    h3 {
      margin-top: 10px;
    }
    .time_ago {
      color: var(--time-ago);
    }
  }
  .my_message {
    float: right;
    .my_text {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      width: 500px;
      .img,
      span {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        margin-left: 5px;
        color: var(--text-color);
      }
      .my {
        background-color: var(--my-message-bg);
        color: var(--my-message-color);
      }
      .message_text {
        text-align: end;
        padding: 10px;
        border-radius: 10px;
        img {
          width: 220px;
          height: 270px;
          margin-right: 0px;
          border-radius: 5px;
          overflow: hidden;
          object-fit: cover;
        }
      }
    }
    .time {
      text-align: end;
      padding: 5px 0px;
      color: rgb(98, 105, 132);
      font-size: small;
    }
  }
  .fd_message {
    float: left;
    .fd_text {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 500px;
      .fd {
        background-color: var(--fd-message-bg);
        color: var(--text-color);
      }
      .message_text {
        text-align: start;
        border-radius: 10px;
        padding: 10px;
        img {
          width: 220px;
          height: 270px;
          margin-right: 0px;
          border-radius: 5px;
          overflow: hidden;
          object-fit: cover;
        }
      }
    }
  }
}
.image_message_time,
.image_message {
  display: flex;
  img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
  }
  .message_text {
    padding: 8px;
    color: white;
    background-color: #37466ee9;
    font-size: 14px;
    font-weight: 400;
  }
  .time {
    padding: 5px 0px;
    color: rgb(98, 112, 165);
    font-size: small;
  }
}
.typing_message {
  padding: 10px 5px;
  .message_text {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
}
