.col-9 {
  .right_side {
    height: 100%;
    .row {
      height: 100%;
      .col-8 {
        transition: all 0.4s ease-in-out;
        .message_send_show {
          height: 100vh;
          border-right: 1px solid var(--border-color);
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 12px 10px;
            border-bottom: 1px solid var(--border-color);
            .image_name {
              display: flex;
              .image {
                position: relative;
                width: 40px;
                height: 40px;
                .active_icon {
                  position: absolute;
                  bottom: 1px;
                  right: 1px;
                  width: 10px;
                  height: 10px;
                  background-color: rgb(9, 177, 9);
                  border-radius: 50%;
                }
                img {
                  width: 40px;
                  height: 40px;
                  border-radius: 50%;
                }
              }
              .name {
                display: flex;
                justify-content: center;
                align-items: center;
                h3 {
                  padding-left: 10px;
                  color: var(--text-color);
                }
              }
            }
            .icons {
              display: flex;
              .icon {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;
                width: 40px;
                margin-left: 8px;
                border-radius: 24px;
                color: var(--icon-color);
                cursor: pointer;
                background-color: var(--icon-bg-color);
                label {
                  display: flex;
                  margin-bottom: 0px;
                  cursor: pointer;
                  color: var(--icon-color);
                }
              }
            }
          }
        }
      }
      .col-4 {
      }
    }
    #dot {
      display: none;
    }
    #dot:checked ~ .row .col-4 {
      display: none;
    }
    #dot:checked ~ .row .col-8 {
      width: 100%;
    }
    #dot:checked ~ .row .col-8 .message_show .my_message .my_text {
      width: 800px;
    }
    #dot:checked ~ .row .col-8 .message_show .fd_message .fd_text {
      width: 700px;
    }
  }
}
